.breedInputCss{
    font-family: "Comic Sans MS", "Comic Sans";
    transform: translateY(72px)
    
}

.breedButtonCss{
    transform: translateY(72px);
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(160, 142, 115, 0.619);
    font-family: "Comic Sans MS", "Comic Sans";
    border: 1px solid;
}

.breedButtonCss:hover{
    background-color: rgb(211, 14, 14);
    text-shadow: 0 0 15px #ffec97,
                 0 0 40px #ffec97,
                 0 0 120px #ffec97;
    transition-delay: 0.1s;   
}

